# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# Envs
.venv/
.env

# Not needed in image
_playground.ipynb
.debug/
.git
.gitignore
.debug.log
debug.log

# VCS
.vscode/
.idea/

# Cache & build artifacts
.mypy_cache/
.pytest_cache/
.ruff_cache/
dist/
build/
.coverage
htmlcov/
.cache/

# Misc
*.DS_Store
node_modules/
npm-debug.log*
poetry-cache/
