alembic==1.16.4
altair==5.5.0
altgraph @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/altgraph-0.17.2-py2.py3-none-any.whl
annotated-types==0.7.0
anyio==4.8.0
asgiref==3.8.1
attrs==24.3.0
beautifulsoup4==4.12.3
blinker==1.9.0
browser-cookie3==0.20.1
cachetools==5.5.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
distro==1.9.0
Django==4.2.18
exceptiongroup==1.2.2
fastapi==0.115.6
future @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/future-0.18.2-py3-none-any.whl
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.2.4
griffe==1.12.1
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
idna==3.10
iniconfig==2.0.0
Jinja2==3.1.5
jiter==0.10.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
lz4==4.3.3
macholib @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/macholib-1.15.2-py2.py3-none-any.whl
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
# Editable install with no version control (my-project==0.1.0)
-e /Users/ajwong/projects/job_apps
narwhals==1.21.1
numpy==2.0.2
openai==1.99.9
openai-agents==0.2.8
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
pillow==11.1.0
playwright==1.55.0
pluggy==1.5.0
protobuf==5.29.3
psycopg==3.1.18
psycopg-binary==3.1.18
psycopg2==2.9.10
pyarrow==18.1.0
pycryptodomex==3.21.0
pydantic==2.10.4
pydantic_core==2.27.2
pydeck==0.9.1
pyee==13.0.0
Pygments==2.19.1
PySocks==1.7.1
pytest==8.3.4
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2024.2
referencing==0.35.1
requests==2.32.3
rich==13.9.4
rpds-py==0.22.3
selenium==4.27.1
six @ file:///AppleInternal/Library/BuildRoots/39d9dc1a-2111-11f0-be06-226177e5bb69/Library/Caches/com.apple.xbs/Sources/python3/six-1.15.0-py2.py3-none-any.whl
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.36
sqlparse==0.5.3
starlette==0.41.3
streamlit==1.41.1
tenacity==9.0.0
TikTokApi==6.5.2
toml==0.10.2
tomli==2.2.1
tornado==6.4.2
tqdm==4.67.1
trio==0.28.0
trio-websocket==0.11.1
types-requests==2.32.4.20250809
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
uvicorn==0.34.0
websocket-client==1.8.0
wsproto==1.2.0
